.js-editable .js-editable-controls .btn {
  margin-right: 0.5rem;
  padding-bottom: 0.125rem;
}

.js-editable-controls {
  input[type="checkbox"] {
    position: relative;
    top: 0.125rem;
    margin-right: 0.25rem;
  }
}
