{% extends "one_column_body.html" %}
{% block title %}{% filter trim %}{% trans %}Post Search{% endtrans %}{% endfilter %}{% endblock %}
{% block layout_class %}search-posts-page{% endblock %}
{% block content %}
  <h1>
    {% trans %}Post search{% endtrans %}
    {% if posts_count %}
      - {% trans %}{{ posts_count }} found{% endtrans %}
    {% endif %}
  </h1>
  <form class="search-posts-form" method="POST">
    {{ csrf_input }}
    <input 
      name="q"
      placeholder="{% trans %}search by text{% endtrans %}"
      type="text"
      value="{{ query_string|iriencode}}"
    /><input
      class="btn"
      type="submit"
      value="{% trans %}search{% endtrans %}"
    />
  </form>
  {% include "search_posts/posts_nav.html" %}
  {% if post %}
    {% include "search_posts/context_link.html" %}
    <div class="post-body">
      {{ post.html }}
    </div>
    {% include "search_posts/posts_nav.html" %}
  {% endif %}
{% endblock %}
